<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="icon" type="image/png" href="/images/icons/favicon.ico" />

  <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">

  <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">

  <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">

  <link rel="stylesheet" type="text/css" href="/stylesheets/util.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

  <script src="/socket.io/socket.io.js"></script>
  <script src="/routes/roomservice.js"></script>

  <script>

    function reload() {
      location.reload(true);
    }
  </script>

</head>

<body>



  <div class="container-login100">
    <div class="wrap-login100 userBackground">

      <div class="login100-pic js-tilt" data-tilt>
        <h4 class="title">JusTalk</h4>
        <img src="/images/img-01.png" alt="IMG">
      </div>

      <div class="col-md-6">

        <div class="alert alert-success">Welcome to JusTalk <strong><%= name %> !</strong> </div>
        <br><br>
        <div class="well">
          <button type="button" class="btn btn-success buttonsview" id="usersview">Users</button> &nbsp;
          <button type="button" class="btn btn-primary buttonsview" id="roomsview">Join Chat</button> &nbsp;
          <button type="button" class="btn btn-danger buttonsview" id="createRoom">Start New</button>
        </div>
        <div class="well" id="oneuserlist">
          <h3 class="subtitle">Online Users</h3><br>
          <ul class="list-group" id="users"></ul>

        </div>
        <div class="well" id="userlist" style="display: none">
          <h3 class="subtitle">Users Offline</h3><br>
          <ul class="list-group" id="offlineusers"></ul>

        </div>
        <div class="well" id="room-container">
          <h3 class="subtitle">Available Groups <button onclick="reload()" style="float: right;"><img
                src="../images/reload.png" width="30" height="30"></button></h3><br>
          <table cellspacing="80" height="50">
            <% Object.keys(rooms).forEach(room =>{ %>
            <tr>
              <div>
                <td><%= room %> &nbsp;</td>
                <td><button class="btn btn-dark"
                    onclick="window.location = '/chatRoom/<%= room %>?username=<%= name %>';">Message</button></td>
              </div>
            </tr>

            <% }) %>
          </table>
        </div>
        <div class="well" id="room-create" style="display: none">
          <h3 class="subtitle">Create Chat Group</h3><br>
          <form action="/chatRoom/room" id="roomform" method="POST">
            <input name="room" id="roomname" type="text" value="<%= name %>" style="display: none">&nbsp;
            <button class="btn btn-danger" type="submit">Create new</button>
          </form>
        </div>

      </div>


    </div>
  </div>




  <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>

  <script src="/vendor/bootstrap/js/popper.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  <script src="/vendor/select2/select2.min.js"></script>

  <script src="/vendor/tilt/tilt.jquery.min.js"></script>

  <script>
    $(function () {

      var $usrbtn = $('#usersview');
      var $roombtn = $('#roomsview');
      var $joinbtn = $('#createRoom');

      $usrbtn.click(function () {
        $('#room-container').show();
        $('#room-create').hide();
        $('#oneuserlist').show();
        //$('#userlist').show();

      });

      $roombtn.click(function () {
        // $('#userlist').hide();
        // location.reload();
        $('#oneuserlist').hide();
        $('#room-create').hide();
        $('#room-container').show();
      });

      $joinbtn.click(function () {
        // $('#userlist').hide();
        $('#oneuserlist').hide();
        $('#room-container').hide();
        $('#room-create').show();
      });

    });
  </script>



  <div id="mydiv" data-test=<%= name %>></div>
  <div id="mydivv" data-test=<%= users %>></div>
  <script>
    var username = document.getElementById('mydiv').dataset.test
    var allusers = document.getElementById('mydivv').dataset.test
    // var allusers = document.getElementById('mydivv').dataset.test
    var offusers = allusers.split(','); // split string on comma space

    $(function () {
      var socket = io.connect();
      var $users = $('#users');
      //  var $otherusers = $('#offlineusers');
      var $createroom = $('#createRoom');
      var $roomform = $('#room-create');

      socket.emit('new user', username, function (data) {
      });

      socket.on('get users', function (data) {
        var activeusers = '';
        // var inactiveusers = '';
        for (i = 0; i < data.length; i++) {

          var x = username.localeCompare(data[i]);
          if (x == 0) {
            activeusers += '<li class="list-group-item list-group-item-danger">' + data[i] + ' (You)   <img src="../images/bulb.png" width="10" height="10" style="float: right;"></li>'
          }
          else {
            activeusers += '<li class="list-group-item list-group-item-info">' + data[i] + '<img src="../images/bulb.png" width="10" height="10" style="float: right;"></li>'
          }

        }
        $users.html(activeusers);

        // for (i = 0; i < offusers.length; i++) {
        //   for (j = 0; j < data.length; j++) {
        //     var y = offusers[i].localeCompare(data[i]);
        //     if (y != 0) {
        //       inactiveusers += '<li class="list-group-item list-group-item-info">' + offusers[i] + ' </li>'
        //     }
        //   }

        // }
        // $otherusers.html(inactiveusers);

      });


      // $createroom.click(function () {
      //   $roomform.show();

      // });


    });
  </script>






  <script>
    $('.js-tilt').tilt({
      scale: 1.1
    });
  </script>

  <script src="/javascripts/main.js"></script>


</body>

</html>